{% extends "./layout.twig" %}

{% block content %}
<div class="log-content">
    <h1>LOGIN </h1>
    <div class="log-body">

	<div class="form-group myr-top">
	<label>Email</label>
	<input name="email" type="text" class="form-control custom" placeholder="Email">
	</div>

	<div class="form-group myr-top">
	<label>Password</label>
	<input name="password" type="password" class="form-control custom" placeholder="Password">
	</div>

	<div class="log-btn text-center">
	<input type="submit" class="btn btn-theme1" value="Login">
	</div>

	<div class="log-btn">
	<div class="error">{{ error | raw }}</div>
	</div>

	<div class="log-bottom-cotent log-bottom-cotent1">
	<div style="float:left">
	<a href="forgot" class="pull-right">Forgot Password</a>
	</div>
	<div style="float:right">
	Not registered? <a href="signup">Sign Up</a>
	</div>
	</div>
						
    </div>
</div>
{% endblock %}
